In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ecommerce-session-bigquery.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   fullVisitorId            10000 non-null  uint64
 1   channelGrouping          10000 non-null  object
 2   time                     10000 non-null  int64
 3   country                  10000 non-null  object
 4   city                     10000 non-null  object
 5   totalTransactionRevenue  619 non-null    float64
 6   transactions             628 non-null    float64
 7   timeOnSite               9713 non-null   float64
 8   pageviews                9999 non-null   float64
 9   sessionQualityDim        19 non-null     float64
 10  date                     10000 non-null  int64
 11  visitId                  10000 non-null  int64
 12  type                     10000 non-null  object
 13  productRefundAmount      0 non-null      float64
 14  productQuantity          45 non-null     float64
 15  productPrice             10000 non-null  int64
 16  productRevenue           0 non-null      float64
 17  productSKU               10000 non-null  object
 18  v2ProductName            10000 non-null  object
 19  v2ProductCategory        10000 non-null  object
 20  productVariant           10000 non-null  object
 21  currencyCode             9614 non-null   object
 22  itemQuantity             0 non-null      float64
 23  itemRevenue              0 non-null      float64
 24  transactionRevenue       0 non-null      float64
 25  transactionId            0 non-null      float64
 26  pageTitle                9908 non-null   object
 27  searchKeyword            0 non-null      float64
 28  pagePathLevel1           10000 non-null  object
 29  eCommerceAction_type     10000 non-null  int64
 30  eCommerceAction_step     10000 non-null  int64
 31  eCommerceAction_option   0 non-null      float64
dtypes: float64(14), int64(6), object(11), uint64(1)
memory usage: 2.4+ MB

In [6]:
df.head()

,fullVisitorId,channelGrouping,time,country,city,totalTransactionRevenue,transactions,timeOnSite,pageviews,sessionQualityDim,...,itemQuantity,itemRevenue,transactionRevenue,transactionId,pageTitle,searchKeyword,pagePathLevel1,eCommerceAction_type,eCommerceAction_step,eCommerceAction_option
0,2515546493837534633,Organic Search,966564,Taiwan,(not set),NaN,NaN,1567.0,82.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
1,9361741997835388618,Organic Search,157377,France,not available in demo dataset,NaN,NaN,321.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
2,7313828956068851679,Referral,228279,United States,San Francisco,NaN,NaN,927.0,11.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
3,6036794406403793540,Organic Search,1615618,United States,Boulder,NaN,NaN,1616.0,13.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN
4,7847280609739507227,Organic Search,37832,Canada,not available in demo dataset,NaN,NaN,1222.0,45.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,/storeitem.html,0,1,NaN